body {
	width: 100%;
	height: 100%;
	background-color: black;
}

#lobby-background {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.chat-window, .game-list, .leaderboard {
	background-color: rgba(255, 255, 255, .5);
	height: 900px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.5);
	border-width: 5px;
	border-radius: 15px;
	z-index: 500;
}

.chatInput {
	position: relative;
	top: 840px;
	z-index: 400;
}

.blur {
	filter: blur(10px);
	z-index: 400;
}
/* =============
 * FRONT PAGE
 * =============
 */

.marsBackground {
	height: 100%;
}

.titleText, .loginText, .guestText, .registerText, .registerTextTop, .guestTextTop, .guestInput {
	font-family: 'Comfortaa';
	color: white;
	position: absolute;
	font-style: bold;
	z-index: 1000;
}

.loginText, .guestText, .registerText, .guestTextTop, .registerTextTop {
	font-size: 35px;
}

.loginText {
	top: 27%;
}

.guestText {
	top: 34%;
}

.registerText {
	top: 41%;
}

.registerTextTop {
	top: 27%;
}

.titleText {
	font-size: 75px;
	top: 15%;
}

.loginForm {
	position: absolute;
	top: 34%;
	z-index: 100;
}

.loginInput {
	font-family: 'Comfortaa';
	font-size: 25px;
	margin-bottom: 7%;
}

.guestTextTop {
	top: 27%;
}



.hidden {
	display: none;
}