div {
	border: 1px solid gray;
	margin: auto;
	padding: 1em;
}
.container {
	max-width: 850px;
}
.ul {
	list-style-type: none;
}
button {
	box-shadow: rgb(230, 122, 115) 0px 39px 0px -24px inset;
	background-color: rgb(228, 104, 93);
	border-radius: 4px;
	border: 1px solid rgb(255, 255, 255);
	display: inline-block;
	cursor: pointer;
	color: rgb(255, 255, 255);
	font-family: Arial;
	font-size: 15px;
	padding: 6px 15px;
	text-decoration: none;
	text-shadow: rgb(178, 62, 53) 0px 1px 0px;
	min-width: 42px;
    min-height: 42px;
}
.row {
	display: flex;
	flex-direction: row;
	max-width: 600px;
	min-width: 300px;
	height: 45px;
	background: #f9f1db;
}
.row > div {
	flex: 1 1 auto;
	width: 30px;
	transition: width 0.7s ease-out;
}

