/* ======================
 * ERIC MEYER'S CSS RESET
 * ======================
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==============
 * GENERAL LAYOUT
 * ==============
 */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	text-align: center;
	
	font: 40px Arial;
	color: #666370;
}

body {
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	background: #f9f1db;
}
 
#app {
	width: 95vw;
	height: 95vh;
}

div {
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

/* ========================
 * SCREEN LAYOUT - VERTICAL
 * ========================
 */

.screen,
.screen-main,
.screen-sidebar {
	height: 100%;
}

.screen-bordered {
	border: 10px solid #666370;
	border-radius: 25px;

	padding: 1%;
}

.screen-middle {
	height: 70%;
}

.screen-top,
.screen-bottom {
	height: 15%;
}

.screen-top {
	margin-bottom: 3%;
	justify-content: flex-end;
}

.screen-bottom {
	margin-top: 3%;
	justify-content: flex-start;
}

/* ==========================
 * SCREEN LAYOUT - HORIZONTAL
 * ==========================
 */

.screen-horizontal {
	flex-direction: row;
	justify-content: space-around;
}

.screen-main {
	width: 70%;
}

.screen-sidebar {
	width: 25%;
}

.screen-sidebar > div,
.screen-main > div {
	justify-content: space-evenly;
}

/* ======
 * BUTTON
 * ======
 */

button {
	width: 60%;
	height: 80%;

	display: block;

	border: 0;
	border-radius: 4px;
	
	box-shadow: 0 30px 0 0 rgb(230, 122, 115) inset;
	background-color: rgb(228, 104, 93);

	font-size: 1em;
	color: #FFF;
	text-shadow: rgb(178, 62, 53) 0 1px 0;

	cursor: pointer;
}

button:disabled {
	box-shadow: 0 30px 0 0 rgb(148, 138, 138) inset;
	background-color: rgb(140, 129, 127);

	cursor: not-allowed;
}

/* ===========
 * ANSWER LIST
 * ===========
 */

.answer {
	flex-direction: row;
	justify-content: space-between;

	height: 100px;

  background: ivory;

  box-shadow: 5px 2px 2px black;
  border-radius: 5px;

  padding: 0 3%;
}

.selected {
	font-weight: bold;
}

.checkmark-placeholder {
	width: 65px;
	height: 65px;
}

.checkmark {
	background: #1EA896;
	color: #FFF;

	border-radius: 50%;
}

/* =====
 * TIMER
 * =====
 */

.warning {
	background: #ECBA82;
}

.danger {
	background: #ED9390;
}

/* ===========
 * PLAYER LIST
 * ===========
 */

.answered-player-list {
	height: 100%;
}

.answered-player-list-entry.unanswered {
	color: #D1D1D1;
}

/* ==========
 * SCOREBOARD
 * ==========
 */

.scoreboard {
	height: 100%;
	display: flex;
	flex-direction: row;
  justify-content: center;
}

.scoreboard-col {
	width: auto;
	min-width: 30%;
	height: 100%;
	
	justify-content: space-around;
}

.scoreboard-col:first-child > .scoreboard-row {
	align-items: flex-start;
}

.scoreboard-col:last-child > .scoreboard-row {
	align-items: flex-end;
}

.scoreboard-row {
	height: 100%;

	border-bottom: 1px solid #666370;
	justify-content: center;
}

.scoreboard-row:last-child {
	border-bottom: 0;
}
